---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/Hero.astro";
import PainPoints from "../components/PainPoints.astro";
import Features from "../components/Features.astro";
import Stats from "../components/Stats.astro";
import Process from "../components/Process.astro";

---
<Layout title="Softwow">
  <div class="background-fixed"></div>
  <Navbar
    links={[
      { text: "Inicio", href: "#home", ariaLabel: "home" },
      { text: "Servicios", href: "#services", ariaLabel: "services" },
      { text: "Proyectos", href: "#projects", ariaLabel: "projects" },
      { text: "Contacto", href: "#contact", ariaLabel: "contact" },
    ]}
  />
  <HeroSection />

  <main class="slide-in-top px-4 flex flex-col gap-10 lg:gap-20 pt-10 lg:pt-40">
    <PainPoints />
    <Features />
    <Stats />
    <Process />
  </main>
</Layout>

<style>
  .background-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/image/bg-softwow-2.jpg") no-repeat center center;
    background-size: cover;
    z-index: -10;
  }
</style>