---
import ContactForm from "../react-components/Contact.jsx";
---

<section id="contact" class="flex items-center gap-5 flex-col pt-32 pb-20">
  <h2 class="text-slate-200 text-4xl lg:text-5xl text-center font-semibold">
    Contacto
  </h2>
  <ContactForm client:visible />
</section>
